parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    paths:
        - src/
    excludePaths:
        - test_app/
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
